= api_form_for @get_access_token, :url => permissions_path(:get_access_token) do |f|

  .row
    .span5
      %legend Get access token
      = f.input :verifier
      = f.input :token

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @get_access_token_response
  = render 'api_response', :request => @get_access_token, :response => @get_access_token_response
