= api_form_for @request_permissions, :url => permissions_path(:request_permissions) do |f|

  .row
    .span5
      %legend Request Permissions
      = f.input :callback
      = f.input :scope, :as => :check_boxes, :collection => [ "EXPRESS_CHECKOUT", "DIRECT_PAYMENT", "AUTH_CAPTURE", "AIR_TRAVEL",
        "TRANSACTION_SEARCH", "RECURRING_PAYMENTS", "ACCOUNT_BALANCE", "ENCRYPTED_WEBSITE_PAYMENTS", "REFUND",
        "BILLING_AGREEMENT", "REFERENCE_TRANSACTION", "MASS_PAY", "TRANSACTION_DETAILS", "NON_REFERENCED_CREDIT",
        "SETTLEMENT_CONSOLIDATION", "SETTLEMENT_REPORTING", "BUTTON_MANAGER", "MANAGE_PENDING_TRANSACTION_STATUS",
        "RECURRING_PAYMENT_REPORT", "EXTENDED_PRO_PROCESSING_REPORT", "EXCEPTION_PROCESSING_REPORT",
        "ACCOUNT_MANAGEMENT_PERMISSION", "INVOICING" ]

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @request_permissions_response
  = render 'api_response', :request => @request_permissions, :response => @request_permissions_response

  %p
    %b Grand Permission
    = link_to "Follow the link to generate token",  "https://www.sandbox.paypal.com/webscr&cmd=_grant-permission&request_token=#{@request_permissions_response.token}"
